<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <title>Password Reset</title>
    <style>
        .password-reset-message {
            font-family: Lato, sans-serif;
            font-size: 16px;
            background-color: #fff;
            color: #0a0a0a;
            padding: 5px 10px;
            line-height: 1.5;
        }

        h1 {
            color: goldenrod;
        }
    </style>
</head>
<body>
    <div class="password-reset-message">
        <h1>Hello <%= user.username %></h1>
        <h2>You requested to reset your password</h2>
        <!-- <strong><a href="http://localhost:2023/users/reset-password/?email=<%=user.email%>&token=<%=token%>">Click to reset your password</a></strong> -->
        <strong><a href="https://debeechatapi.onrender.com/users/reset-password/?email=<%=user.email%>&token=<%=token%>">Click to reset your password</a></strong>
    </div>
</body>
</html>